{
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["*.cml"],
      "options": {
        "parser": "vue"
      }
    }
  ]
}
